.example-spacer {
    flex: 1 1 auto;
  }
.title {
    cursor: pointer;
}
  .navigation-container {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    background-color: #006BB7;
  }